@keyframes highlight {
	from {
		font-size: 26px;
	}
	to {
		font-size: 30px;
	}
}
@keyframes outlight {
	from {
		font-size: 30px;
	}
	to {
		font-size: 26px;
	}
}

.poster1 {
	height: 675px;
	width: 100%;
	position: relative;
	img {
		height: inherit;
		width: inherit;
	}
	div {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 60%;
		transform: translateY(-50%);
		width: 415px;
		color: #1a2456;
		h1 {
			margin-bottom: 0;
			letter-spacing: 4px;
			font-size: 38px;
		}
		p {
			font-size: 18px;
		}
	}

	// a {
}
.arrow {
	position: absolute;
	bottom: 3%;
	left: 50%;
	width: 85%;
	transform: translateX(-50%);
	z-index: 9;
	display: flex;
	cursor: pointer;
	font-size: 26px;
	svg {
		font-size: inherit;
		margin: auto;
		fill: white;
		filter: drop-shadow(0 3px 4px black);
	}
	&:hover {
		font-size: 30px;
		animation: highlight 0.3s ease-in;
	}
	&:blur {
		font-size: 26px;
		animation: outlight 0.3s ease-in;
	}
}
.poster2 {
	height: 506px;
	width: 100%;
	position: relative;
	img {
		width: inherit;
		height: inherit;
	}
	div {
		position: absolute;
		z-index: 1;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		color: #1a2456;
		h1 {
			width: 560px;
			margin: 0;
			letter-spacing: 4px;
		}
		p {
			text-align: center;
			font-size: 18px;
			margin-top: 30px;
		}
	}
}
