.poster {
	height: 675px;
	background-image: url(../../public/img/shop-cta-xl.webp);
	background-size: cover;
	position: relative;
	div {
		color: #1a2456;
		position: absolute;
		top: 50%;
		left: 60%;
		transform: translateY(-50%);
		h1 {
			font-size: 36px;
			letter-spacing: 1.5px;
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
	a {
		position: absolute;
		bottom: 3%;
		left: 50%;
		width: 85%;
		transform: translateX(-50%);
		z-index: 999;
		background-color: red;
		display: flex;
		svg {
			margin: auto;
			font-size: 26px;
			color: white;
			filter: drop-shadow(0 3px 4px black);
		}
	}
}
