@keyframes blur {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}
@keyframes fly {
	from {
		right: -30%;
	}
	to {
		right: 0;
	}
}
@keyframes foam {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 0;
	}
}
@keyframes outlook {
	from {
		right: 0;
	}
	to {
		right: -30%;
	}
}
body {
	overflow: hidden;
	z-index: 59;
}
.hide {
	display: none;
}
.pocket {
	margin: auto 10px auto 0;
	background-color: inherit;
	border-style: none;
	color: inherit;
	cursor: pointer;
	.cover {
		position: absolute;
		inset: 0;
		background-color: #000;
		cursor: default;
	}
	.bag {
		width: 28%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		cursor: default;
		background-color: teal;
		z-index: 199;
		.header {
			height: 12%;
			font-size: 15px;
			font-weight: 700;
			color: white;
			background-color: #1a2456;
			display: flex;
			div {
				cursor: pointer;
				width: 50%;
				margin: auto 0;
				padding-left: 5px;
			}
			svg {
				vertical-align: bottom;
			}
		}
		.footer {
			height: 30%;
			width: 100%;
			background-color: #1a2456;
			position: absolute;
			bottom: 0;
			display: flex;
			flex-direction: column;
			.paidMoney {
				width: 78%;
				margin: 25px auto;
				display: flex;
				justify-content: space-between;
				font-size: 17px;
				font-weight: 700;
				color: #fff;
			}
			button {
				width: 78%;
				height: 45px;
				margin: 0 auto;
				border-radius: 24px;
				border-style: none;
				background-color: #efc2b3;
				color: black;
				font-size: 15px;
				font-weight: 700;
				opacity: 0.65;
				letter-spacing: 1.1px;
			}
			.gift {
				width: 78%;
				margin: 20px auto;
				font-size: 14px;
				color: #ff7952;
				cursor: pointer;
				&:hover {
					color: #ff3e05;
					text-decoration: underline;
				}
			}
		}
	}
}
.coverPresent {
	animation: blur 0.3s linear 0s;
	opacity: 0.5;
	z-index: 99;
}
.bagPresent {
	animation: fly 0.3s linear 0s;
}
.coverDisappear {
	animation: foam 0.3s linear 0s;
	opacity: 0;
	z-index: 9;
}
.bagDisappear {
	animation: outlook 0.3s linear 0s;
	display: none;
}
