.navbar{
	display: flex;
	justify-content: space-between;
	background-color: #1A2456;
	color: #E28F74;
}
.item + .item {
	padding: 0 1em;
}
.right{
	display: flex;
}
.right__item + .right__item{
	padding: 0 0.5em;
}
.left{
	display: flex;
}