.navbar{
  font-family: Poppins, Prompt,sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #1A2456;
  width: 96vw;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #fff;
}
.navbar__item + .navbar__item{
  margin: 0 10em;
}
.left{
  display: flex;
}
.right{
  display: flex;
}
