.container{
	display: flex;
	color: #ccc;
}
.item{
	padding: 0 0.5em;
}
.spices{
	position: relative;
	top: -50%;
	right: -100%;

}
.spice{
	position: absolute;
	left: -100%;
	padding-top: 10px;
	color: #ccc;
}