.container{
	display: flex;
	color: #fff;
}
.item{
	padding: 0 0.5em;
	display: flex;
	position: relative;
	cursor: pointer;
}
.item>a{
	color: #fff;
	text-decoration: none;
	margin: auto;
}
.item>a:hover{
	color: #e28f74;
}
.more:before{
	content: '';
	position: absolute;
	left: 95%;
	top: 50%;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid white;
}
.spices{
	width: 270px;
	height: 150px;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: teal;
	box-shadow: 0 0 15px rgb(0 0 0 / 33%);
	display: flex;
	flex-direction: column;
}
.spices>a{
	text-decoration: none;
	margin-left: 20px;
	margin-top: 5px;
}