.container{
	display: flex;
	color: #fff;
}
.item{
	padding: 0 0.5em;
	display: flex;
	position: relative;
}
.item>a{
	color: #fff;
	text-decoration: none;
	margin: auto;
}
.item>a:hover{
	color: #e28f74;
}
.spices{
	width: 270px;
	height: 150px;
	position: absolute;
	top: 100%;
	background-color: teal;
	display: flex;
	flex-direction: column;
}
.spices:after{
	content: '';
	position: absolute;
	left: 40%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
}
.spices>a{
	text-decoration: none;
	margin-left: 20px;
	margin-top: 5px;
}