.pocket{
	margin: auto 10px auto 0;
	background-color: inherit;
	border-style: none;
	color: inherit;
	cursor: pointer;
}
.cover{
	position: absolute;
	inset: 0;
	background-color: teal;

}
.bag{

}
.header{

}
.body{

}
.footer{

}
.paidMoney{

}
.paidMoney>button{

}
.paidMoney:last-child{

}
