.wrapper {
	.image {
		position: relative;
		background-color: #ccc;
		div {
			position: absolute;
			top: 1em;
			right: 0;
			background-color: #1a2456;
			color: #fff;
			width: 70px;
			height: 25px;
			text-align: center;
		}
	}
	.content {
		width: 100%;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		font-size: 13px;
		h2 {
			color: #080b43;
			margin: 0;
			max-width: 200px;
		}
		div {
			margin-right: 5px;
		}
		button {
			letter-spacing: 1px;
			font-weight: 700;
			line-height: 1.5;
			padding: 6px 11px;
			font-size: 12px;
			border-style: none;
			border-radius: 50px;
			display: block;
			position: absolute;
			right: 0;
			background-color: transparent;
			color: transparent;
			&:hover {
				background-color: #111839;
			}
		}
	}
	&:hover {
		cursor: pointer;
		button {
			background-color: #1a2456;
			color: white;
			cursor: pointer;
		}
	}
}
