.product {
	display: flex;
	flex-wrap: wrap;
	width: 82%;
	margin: 44px 9% 0 9%;
	& > div {
		width: 48%;
		margin: 0 10px;
	}
	img {
		width: 557px;
		height: 371px;
	}
}
.own {
	& > div {
		width: 30%;
	}
	img {
		width: 336px;
		height: 336px;
	}
}
